.dropdown{
    position: absolute;
    top: 70px;
    width: 100%;
    transform: translateX(-20%);
    background-color: black;
    overflow: hidden;
    padding: 1rem;

}

.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-item span{
    font-size: 20px;
    font-family: 'Kdam Thmor Pro';
    color: red;
}