header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-between;
}

.listitem{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro';
}

li:hover{
    color: red;
}

.logo{
    width: 150px;
    height: auto;
}

@media(max-width: 728px){
    nav{
        display: none;
    }
}