header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

nav{
    width: 75%;
}

ul{
    display: flex;
    justify-content: space-between;
}

.listitem{
    list-style: none;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.listitem:hover{
    color: red;
}

.logo{
    width: 150px;
    height: 90px;
}

@media(max-width: 850px){
    nav{
        display: none;
    }
}